.kaonashi {
  float: left;
  width: 50%;
  padding: 4px;
  margin: 5%;
}

.header-row img {
  width: 30%;
  float: left;
  margin-left: 5%;
}

.nemo img {
  transform: rotate(90deg);
  height: 400px;
  width: 400px;
}
#output {
  display: none;
  margin: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
